* {
	box-sizing: border-box;
}
body, html{
	margin: 0 auto;	
	position: relative;
	background: #A6F0EF; /* kolor wybrany z projektu strony, numer zbadany w photoshop */
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	width: 1280px;
}
img {
	border: none;
}

/*zawartość */
#wrapper {	
	width: 1280px;
	position: relative;	
	margin: 0 auto;	
}
#wrapper1 {	
	background: url(../img/oferta.jpg);
	position: relative;
	width: 1280px;
	margin: 0 auto;
}

/* menu */
#header-top {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	top: 0;
	right: 0;
	left: 0;
	background: #fff;
	opacity: 0.6;
	position: relative;		
}
#header-top1 {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	top: 0;
	right: 0;
	left: 0;
	background: #fff;
	opacity: 0.6;
	position: relative;	
	margin-bottom: 60px;
}
#logo {
	display: block;
	width: 72px;
	height: 72px;
	float: left;
	margin: 14px 0 14px 0px;
	position: relative;
}
#logo a {
	width: 72px;
	height: 72px;
}
nav {
	position: absolute;
}
nav ul {
	margin: 14px 0 0 0;
}
nav li {
	list-style: none;
	float: left;
	position: relative;
}
nav li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 28px;
	color: #00009C;
	padding: 16px 0px 20px 124px;
	font-family: 'Permanent Marker', cursive;
}

#content {
	width: 100%;
	margin: 0 auto;
}
#baner {
	background: url(../img/zakopane.jpg) no-repeat;
	height: 394px;
	width: 100%;
	margin: 0 auto;		
}
#text-top {
	position: absolute;
	left: 200px;
	color: #066E2c;
}
#text-top p {
	font-family: 'Lobster', cursive;
	font-size: 35px;		
}
.frame {
	height: 40px;
	width: 100%;	
	border-bottom: 1px solid black;	
}
#about-us {
	padding: 40px 0 0 0;
	width: 100%;
	height: 465px;
	position: relative;
}
#house {
	width: 50%;
	height: 425px;
	float: left;
	position: relative;
}
#text-right {
	width: 50%;
	float: left;
}
#text-right h3 {
	font-family: 'Lobster', cursive;
	font-size: 35px;
	text-align: center;
	color: #066E2c; 
	margin: 0 0 35px 0;			
}
#text-right p {
	font-family: Lucida Sans Unicode;
	font-size: 18px;
	margin: 0;
	padding: 0 0 0 20px;
	text-align: justify;
}

/* mapka */
#location {
	width: 100%;
	margin: 40px auto 0 auto;	
}
#map {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	border: 1px solid #000;
	background: grey;
}

/*zapytanie o termin */
#ask {
	width: 100px;
	height: 516px;
	position: relative;
	margin: 0 0 0 0;
	padding-top: 40px;
}
#baner1 {
	background: url(../img/zakopane1.jpg) no-repeat;
	height: 476px;
	width: 1280px;
	margin: 0 auto;		
}
#text {
	width: 500px;
	height: 476px;
	margin: 0 auto;
}
#text p {
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 40px;
	opacity: 0.5; 
	color: #066E2c;
	padding: 40px 0;
	margin: 0;
}
.name {
	opacity: 0.5;
	width: 500px;
	height: 30px;
	margin: 10px auto 0 auto;	
	border-radius: 5px;	
}
.mail {
	opacity: 0.5;
	width: 247px;
	height: 30px;
	float: left;	
	border-radius: 5px;
	margin: 10px 6px 10px 0; 
}
.phone-number {
	opacity: 0.5;
	width: 247px;
	height: 30px;
	float: left;	
	border-radius: 5px;
	margin: 10px 0;
}
.arrival {
	opacity: 0.5;
	width: 247px;
	height: 30px;
	float: left;	
	border-radius: 5px;
	margin-right: 6px; 
}
.departure {
	opacity: 0.5;
	width: 247px;
	height: 30px;
	float: left;	
	border-radius: 5px;	
}
.message {
	opacity: 0.5;
	width: 500px;
	height: 60px;
	margin: 10px auto;	
	border-radius: 5px;	
}
.send {
	opacity: 0.5;
	width: 60px;
	height: 20px;
	margin: 0;
	float: right;
}

/* stopka */
#copyright {
	width: 1280px;
	background: #74756E;
	height: 60px;
	margin: 0 auto;
	padding-top: 10px;
}
#copyright p {
	color: #fff;
	font-size: 18px;
	width: 960px;
	margin: 10px auto;
}
#copyright1 {
	width: 100%;
	background: #74756E;
	height: 60px;
	margin: 0 auto;
	padding-top: 10px;
	clear: both;
	float: left;
	display: block;
}
#copyright1 p {
	color: #fff;
	font-size: 18px;
	width: 960px;
	margin: 10px auto;
}

/* oferta */
#offer {		
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #fff;		
}
h1 {
	width: 100%;
	font-family: 'Permanent Marker', cursive;
	font-size: 55px;
	text-shadow: 5px -3px 3px blue;
	text-decoration-line: underline;
	color: #066E2c;
	margin-bottom: 15px;
	text-align: center; 
}
table {
	border: 1px solid blue; 	
	text-align: center;	
	width: 100%;
	padding: 10px;	
}
tbody {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
td {
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding: 5px 12px;
    text-align: left;
    vertical-align: top;
    text-align: center;
}    
tr:nth-child(even) {
    background-color: #F9FAD5;
}
.top-table {
	border: none;
}

/* atrakcje */
#attractions {
	width: 100%;
	margin-top: 50px;
	position: relative;
}
#attractions h2 {
	margin: 0;
	font-family: Lucida Sans Unicode;
	color: #854B17;	
	position: relative;
}
.brown {	
	font-family: Lucida Sans Unicode;
	color: #854B17;	
	margin: 0;
	text-align: justify;
	padding-bottom: 50px;
	width: 100%;
	position: relative;
}
p.center {	
	font-family: Lucida Sans Unicode;
	color: #854B17;	
	margin: 0;
	text-align: center;	
	width: 100%;
	position: relative;
}
p.center a {
	text-decoration-line: none;
	font-size: 26px;
	color: blue;
}
#attimages {
	float: left;	
	width: 100%;	
	position: relative;
	margin: 20px auto 0 auto;
}
#images {
	float: left;	
	width: 100%;
	position: relative;		
}
#images a {
	float: left;
	padding-top: 10px;	
}
.ski-jump {
	width: 635px;
	height: 423px;
	float: left;
}
.tournament {
	width: 635px;
	height: 423px;
	float: left;
	margin-left: 10px;
}
.landscape {
	width: 635px;
	height: 426px;
	float: left;
}
.landscape1 {
	width: 635px;
	height: 426px;
	float: left;
	margin-left: 10px;
}
.kasprowy {
	width: 635px;
	height: 359px;
	float: left;
}
.landscape2 {
	width: 635px;
	height: 359px;
	float: left;
	margin-left: 10px;
}
.church {
	width: 635px;
	height: 426px;
	float: left;
}
.morskie {
	width: 635px;
	height: 217px;
	float: left;
	margin-left: 10px;
}

/* kontakt */
#contact {	
	padding: 40px 0 0 0;
	width: 100%;
	height: 170px;
	position: relative;
}
#text-left {
	width: 100%;
	float: left;
}
#text-left h2 {
	font-family: 'Lobster', cursive;
	font-size: 26px;
	text-align: left;
	color: #066E2c; 
	margin: 0 0 20px 0;
	padding: 0 0 0 14px;		
}
#text-left p {
	font-family: Lucida Sans Unicode;
	font-size: 18px;
	margin: 0;
	padding: 0 0 0 14px;
	text-align: left;
}
#location1, #contact1, #bank-account {
	width: 33.3%;
	float: left;
}